.shopingtext{
	display: block;
	margin-left: 20px;
	margin-top:20px;
	font-size: 26px;
	color:#666;
}
.tn-right{
	width:auto;
	height:24px;
	float: right;
	margin-top:-10px;
	margin-right:30px;
	font-size: 14px;
	
}
.tn-right a{
	color:red;
	margin-left: 3px;
	margin-right: 2px;
}
#data{
	width:100%;
}
#data .data-wrap{
	width:1190px;
	margin:0 auto;
	bordeR:1px solid #0088CC;
	border-right:none;
	border-left:none;
}
table{
	border-right: 1px solid gray;
	border-top: 1px solid gray;
	border-right:none;
	border-left:none;
}
thead{
	
	color:#000;
}	
td{
	border-left: 1px solid gray;
	border-bottom: 1px solid gray;
	padding: 5px 10px;
	border-right:none;
	border-left:none;
	background: #f4f4f4;
}

td input:nth-child(1){
	width:16px;
	height:26px;
}
td input:nth-child(2){
	width:50px;
	text-align: center;
	bordeR:1px solid #aaa;
	height:24px;
}	
td input:nth-child(3){
	width:16px;
	height:26px;
}
td>img{
	width:80px;
	height:80px;
	
}
td:nth-of-type(1){
	width:190px;
}
td:nth-of-type(2){
	width:300px;
}
td:nth-of-type(3){
	width:390px;
	font-size: 12px;
}
td:nth-of-type(4){
	width:138px;
}
td:nth-of-type(5){
	width:102px;
}
td:nth-of-type(6){
	width:132px;
}
td:nth-of-type(7){
	width:132px;
}

.bott{
	margin-top:20px;
	margin-bottom:30px;
	width:1190px;
	height:50px;
	background: #f3f3f3;
	box-shadow: 0 0 5px #666 ;
	line-height: 50px;
	font-size: 12px;
}
.yi{
	display: block;
	cursor: pointer;
	font-size: 12px;
}
.yi:hover{
	color: red;
	text-decoration: underline;
}
.del{
	display: block;
	cursor: pointer;
	font-size: 12px;
	color:#666;
}
.del:hover{
	color: red;
	text-decoration: underline;
}
.jiesuan{
	width:120px;
	height:50px;
	float:right;
	background: #d62233;
	font-size: 22px;
	text-align: center;
	line-height: 50px;
	color: #fff;
	
}
.jiesuan:hover{
	background: #b62222;
	cursor: pointer;
}
.bott span:nth-of-type(1){
	margin-left:30px;
}
.bott span:nth-of-type(1):hover{
	color:red;
	text-decoration:underline;
	cursor: pointer;
}

.bott span:nth-of-type(2){
	margin-left:30px;
}

.bott span:nth-of-type(2):hover{
	color:red;
	text-decoration:underline;
	cursor: pointer;
}

.bott span:nth-of-type(3){
	margin-left:30px;
}

.bott span:nth-of-type(4){
	margin-left:460px;
	font-size: 20px;
	color: red;
}





























